
/* Reconcile all classes to actual classes used */  

body {
	background-color: gray;
	padding: 10px;
}
#buttonframe {
	background-color: gray;
	padding: 10px;
	width:100%;
	max-height: 500px;
	display: inline-block;
}
.commandbuttons {
	background-color: gray;
	padding: 10px;
	width:100%;
	display: inline-block;
}
.commandbuttonentry {
	background-color: black;
	color: white; 
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}
#operatorstateframe {
	background-color: gray;
	padding: 10px;
	width:100%;
	max-height: 500px;
	display: inline-block;
}
#operatorstate {
	background-color: gray;
	padding: 10px;
	width:100%;
	display: inline-block;
}
.operatorstateentry {
	background-color: blue;
	color: white;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}
.boldchatstatewrapper {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	width: 100px;
	background-color: yellow;
	color: black;
	float: right;
}
.boldchatstate {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	background-color: yellow;
	color: black;
	float: right;
}
#activechatsstateframe {
	background-color: gray;
	padding: 10px;
	width:100%;
	max-height: 500px;
	display: inline-block;
}
#activechatsstate {
	background-color: gray;
	padding: 10px;
	width:100%;
	display: inline-block;
}
.activechatsstateentry {
	background-color: purple;
	color: white;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}
#eventlogframe {
	background-color: gray;
	padding: 10px;
	width:100%;
	max-height: 200px;
	display: inline-block;
}
#eventlog {
	background-color: gray;
	padding: 10px;
	width:100%;
	display: inline-block;
}
.eventlogentry {
	background-color: green;
	margin: 10px;
	padding: 10px;
}

.timedate {
	padding-left:  5px;
	padding-right:  5px;
	margin-left: 5px;
	background-color: yellow;
	color: black;
	float: right;
}
.uid {
	font-size: 1.5em;
}


/*

#logbutton {
	display: none;
	background-color: red;
	padding: 10px;
	width:15%;
	display: inline-block;
}
*/
/*
.universalstatewrapper {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	width: 250px;
	background-color: red;
	color: black;
	float: right;
}.universalstate {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	background-color: red;
	color: black;
	float: right;
}
*/

/*
.boldchatstateactivity {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	background-color: black;
	color: yellow;
	float: right;
}
.voicestatewrapper {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	width: 300px;
	background-color: purple;
	color: white;
	float: right;
}
.voicestate {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	background-color: purple;
	color: white;
	float: right;
}
.voicestateactivity {
	padding-left:  10px;
	padding-right:  10px;
	margin-left: 10px;
	background-color: white;
	color: purple;
	float: right;
}
*/
